{% extends 'base.html' %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">출장기록부</h1>
    <p class="mb-4">이곳은 출장을 다녀온 뒤 기록을 남기는 출장 게시판입니다.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length"
                                                                                             aria-controls="dataTable"
                                                                                             class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> entries</label></div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                              class="form-control form-control-sm"
                                                                                              placeholder=""
                                                                                              aria-controls="dataTable"></label>
                    </div>
                </div>
            </div>
            <h6 class="m-0 font-weight-bold text-primary">게시글 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>글쓴이</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for question in question_list %}


                    <tr>
                        <td><a href="{% url 'detail' question.id %}">{{ question.subject }}</a></td>
                        <td>{{ question.create_date }}</td>
                        <td>글쓴이</td>
                    </tr>


                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <a href="{% url 'postcreate' %}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
        <span class="text">글쓰기</span>
    </a>

    <!-- /.container-fluid -->
{# 다중 페이지 처리하기 #}
{#    <div class="row">#}
{#        <div class="col-sm-12 col-md-5">#}
{#            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 51 to 57 of 57#}
{#                entries#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm-12 col-md-7">#}
{#            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">#}
{#                <ul class="pagination">#}
{#                    <li class="paginate_button page-item previous" id="dataTable_previous"><a href="#"#}
{#                                                                                              aria-controls="dataTable"#}
{#                                                                                              data-dt-idx="0"#}
{#                                                                                              tabindex="0"#}
{#                                                                                              class="page-link">Previous</a>#}
{#                    </li>#}
{#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="1"#}
{#                                                              tabindex="0" class="page-link">1</a></li>#}
{#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2"#}
{#                                                              tabindex="0" class="page-link">2</a></li>#}
{#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3"#}
{#                                                              tabindex="0" class="page-link">3</a></li>#}
{#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4"#}
{#                                                              tabindex="0" class="page-link">4</a></li>#}
{#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5"#}
{#                                                              tabindex="0" class="page-link">5</a></li>#}
{#                    <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="6"#}
{#                                                                    tabindex="0" class="page-link">6</a></li>#}
{#                    <li class="paginate_button page-item next disabled" id="dataTable_next"><a href="#"#}
{#                                                                                               aria-controls="dataTable"#}
{#                                                                                               data-dt-idx="7"#}
{#                                                                                               tabindex="0"#}
{#                                                                                               class="page-link">Next</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endblock %}
