{% extends 'base.html' %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">출장기록부</h1>
    <p class="mb-4">이곳은 출장을 다녀온 뒤 기록을 남기는 출장 게시판입니다.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {#                    <div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length"#}
                    {#                                                                                             aria-controls="dataTable"#}
                    {#                                                                                             class="custom-select custom-select-sm form-control form-control-sm">#}
                    {#                        <option value="10">10</option>#}
                    {#                        <option value="25">25</option>#}
                    {#                        <option value="50">50</option>#}
                    {#                        <option value="100">100</option>#}
                    {#                    </select> entries</label></div>#}
                </div>
                {#                <div class="col-sm-12 col-md-6">#}
                {#                    <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"#}
                {#                                                                                              class="form-control form-control-sm"#}
                {#                                                                                              placeholder=""#}
                {#                                                                                              aria-controls="dataTable"></label>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <h6 class="m-0 font-weight-bold text-primary">게시글 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>글쓴이</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for question in question_list %}


                        <tr>
                            <td>{{ question.subject }}</td>
                            <td>{{ question.create_date }}</td>
                            <td>글쓴이</td>
                        </tr>


                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {#    <a href="{% url 'postcreate' %}" class="btn btn-primary btn-icon-split">#}
    {#                                        <span class="icon text-white-50">#}
    {#                                            <i class="fas fa-flag"></i>#}
    {#                                        </span>#}
    {#        <span class="text">글쓰기</span>#}
    {#    </a>#}

    <!-- /.container-fluid -->

{% endblock %}
