{% extends 'base.html' %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">출장기록부</h1>
    <p class="mb-4">이곳은 출장을 다녀온 뒤 기록을 남기는 출장 게시판입니다.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            {#                    <div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length"#}
            {#                                                                                             aria-controls="dataTable"#}
            {#                                                                                             class="custom-select custom-select-sm form-control form-control-sm">#}
            {#                        <option value="10">10</option>#}
            {#                        <option value="25">25</option>#}
            {#                        <option value="50">50</option>#}
            {#                        <option value="100">100</option>#}
            {#                    </select> entries</label></div>#}
            {#                </div>#}
            {##}
            {#                <-----------------검색부분------------------> 아직 멀었음#}
            {#                <div class="col-sm-12 col-md-6">#}
            {#                    <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search"#}
            {#                                                                                              class="form-control form-control-sm"#}
            {#                                                                                              placeholder=""#}
            {#                                                                                              aria-controls="dataTable"></label>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <h6 class="m-0 font-weight-bold text-primary">게시글 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일자</th>
                        <th>글쓴이</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for question in question_list %}


                        <tr>
                            <td>{{ question.id }}</td>
                            <td><a href="{% url 'detail' question.id %}">{{ question.subject }}</a>
                                {% if question.answer_set.count > 0 %}
                                    <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                                {% endif %}</td>
                            <td>{{ question.create_date }}</td>
                            <td>글쓴이</td>

                        </tr>


                        </tbody>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if question_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in question_list.paginator.page_range %}
            {% if page_number == question_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if question_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ question_list.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <a href="{% url 'question_create' %}" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
        <span class="text">글쓰기</span>
    </a>
    {% endif %}
    <!-- /.container-fluid -->
    {# 다중 페이지 처리하기 #}
    {#    <div class="row">#}
    {#        <div class="col-sm-12 col-md-5">#}
    {#            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 51 to 57 of 57#}
    {#                entries#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-sm-12 col-md-7">#}
    {#            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">#}
    {#                <ul class="pagination">#}
    {#                    <li class="paginate_button page-item previous" id="dataTable_previous"><a href="#"#}
    {#                                                                                              aria-controls="dataTable"#}
    {#                                                                                              data-dt-idx="0"#}
    {#                                                                                              tabindex="0"#}
    {#                                                                                              class="page-link">Previous</a>#}
    {#                    </li>#}
    {#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="1"#}
    {#                                                              tabindex="0" class="page-link">1</a></li>#}
    {#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2"#}
    {#                                                              tabindex="0" class="page-link">2</a></li>#}
    {#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3"#}
    {#                                                              tabindex="0" class="page-link">3</a></li>#}
    {#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4"#}
    {#                                                              tabindex="0" class="page-link">4</a></li>#}
    {#                    <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5"#}
    {#                                                              tabindex="0" class="page-link">5</a></li>#}
    {#                    <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="6"#}
    {#                                                                    tabindex="0" class="page-link">6</a></li>#}
    {#                    <li class="paginate_button page-item next disabled" id="dataTable_next"><a href="#"#}
    {#                                                                                               aria-controls="dataTable"#}
    {#                                                                                               data-dt-idx="7"#}
    {#                                                                                               tabindex="0"#}
    {#                                                                                               class="page-link">Next</a>#}
    {#                    </li>#}
    {#                </ul>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}
