{% extends 'base.html' %}
{% block content %}

    <h1>새 글 작성 (이따 꾸밀 예정)</h1>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

    <table>

        {{ form.as_table }}
    </table>
        <input type="submit" value="글 등록하기">
    </form>
{#    <a href={% url "index" %} class="btn btn-primary btn-icon-split">#}
{#                                        <span class="icon text-white-50">#}
{#                                            <i class="fas fa-flag"></i>#}
{#                                        </span>#}
{#                                        <span class="text">글 등록하기</span>#}
{#                                    </a>#}


{% endblock %}