
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1",maximum-scale=1"/>
    <title>Responsive Web Basic</title>
    <style>
        @media screen and (orientation: portrait) {
            body { background: red;}
        }
        @media screen and (orientation: landscape) {
            body { background: green;}
        }

    </style>
</head>
<body>
    <h1> 두번째 반응형 웹 응용2 입니다</h1>
    <p>꾸준히 한다면 좋은 결과가 있을거라고 믿어요 ^_^</p>
</body>
</html>